<div class="form-container">
  <h2 class="mb-4">About drivers</h2>
  <div class="search">
    <input type="text" class="input1"
           [(ngModel)]="term"
           placeholder="What are you looking for?">
  </div>
  <div class="card" *ngFor="let driver of drivers | filter: term; let i = index" (click)="onCardClick(driver)">
    <div class="card-up">
      <div class="dot active1"></div>
    </div>
    <div class="card-body">
      <h3>{{driver.email}}</h3>
      <p>{{driver.name + " "+ driver.surname}}</p>
    </div>
  </div>
</div>
