<div>
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <div>
            <img class="header-img logo" src="assets/img/UberLogo.png" width="70" height="45" alt="Logo" (click)="homePage()"/>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About us</a>
        </li>
      </ul>
      <div>
        <button id="button-activity" class="btn {{btnCall}}"  type="button" [ngSwitch]="" (click)="changeActivity()">{{btnVal}}</button>
        <button id="button-logout" class="btn logoutButton" type="button">Log out</button>
      </div>
    </div>
  </nav>
</div>
