.form-container {
  background: #EBE8D7;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.7rem;
  color: #485162;
  margin: 3rem;
  padding: 1rem;
  position: relative;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 90%;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(72,81,98, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.close{
  position: absolute;
  top:0;
  color: black;
  right: 14px;
  font-size: 35px;
  transform: rotate(45deg);
  background: none;
  border: none;
}

.modal-content {
  width: 90%;
  height: 87%;
  background-color: #EBE8D7;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 4rem;
  padding: 1rem;
  margin-top: 6rem;
}

form{
  background: #485162;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.7rem;
  padding: 1rem;
  margin: 1rem;
}
.parent{
  display: grid;
  place-items: center;
  width: 89%;
  height: 89%;
  align-items: center;
  text-align: center;
}

input{
  display: block;
  border-radius: 10px;
  border-color: #485162;
  position: center;
  width: 30rem;
  margin: 0.5rem;
  text-align: center;
}
h2{
  text-align: left;
}

.greenBtn {
  background: #BFDC36;
  backdrop-filter: blur(2px);
  color: #485162;
  position: center;
  border-radius: 5px;
  width: 35rem;
  margin: 1rem;
}
img{
  margin: 1rem;
}

.img1{
  display: grid;
  place-items: center;
}
