<div class="bg-modal">
  <div class="modal-content">
    <button type="button" [routerLink]="['..']" class="close">+</button>
  <h2>Registration</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
      <div class="col img1 form-group" >
        <img src="assets/profilna.png" class="rounded-circle" style="width: 150px;"
             alt="Avatar" />
        <input type="file" id="avatar" name="profilePicture" formControlName="profilePicture" class="form-control" accept="image/png, image/jpeg"
               placeholder="Picture">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="First name" id="name" formControlName="name" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" id="email" formControlName="email" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Last name" id="surname" formControlName="surname" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Address" id="address" formControlName="address" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="tel" class="form-control" placeholder="Telephone number" id="telephoneNumber" formControlName="telephoneNumber" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" id="password" formControlName="password" required>
        </div>
      </div>
    </div>
    <button type="submit" class="btn greenBtn text-uppercase wide-btn" [disabled]="!form.valid">Registration</button>
  </form>
  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
  </div>
</div>
