.form-container {
  background: #485162;
  color: #485162;
  padding: 0.5rem;

}
.parent {
  display: grid;
  place-items: center;
  align-content: center;
}

.buttondiv {
  display: inline-flex;
  place-items: center;
  align-content: center;
  justify-items: center;
  width: 100%;
}
.panic{
  width: 15rem;
}

label{
  width: 15rem;
  font-weight: bold;
  padding: 0.6rem;
}

.innerClass{
  border-radius: 0.7rem;
  background-color: #EBE8D7;
  position: relative;
  padding: 0.5rem;

}

.col{
  display: inline-flex;
}

.card-text{
  font-family: Crete round;
  font-style: normal;
  color:#485162;
}
h2{
  text-align: left;
  padding-left: 10px;
  font-family: Crete round;
  font-style: normal;
  color:#485162;
}
.panic{
  box-sizing: border-box;
  font-weight: bolder;
  font-family: "Carter One";
  margin: auto;
  margin-bottom: 0.5rem;
  background: #DC7C36;
  border: 1px solid #485162;
  border-radius: 5px;
  width: 50%;
  justify-items: center;

}
.rejcet{
  box-sizing: border-box;
  font-weight: bolder;
  font-family: "Carter One";
  margin: auto;
  margin-bottom: 0.5rem;
  background: #DC7C36;
  border: 1px solid #485162;
  border-radius: 5px;
  width: 50%;
  justify-items: center;

}
input:read-only{
  width: 20rem;
  background-color: #EBE8D7;
  color: #485162;
  font-family: "Carter One";
  font-style: normal;
  font-weight: bold;
  border-style: none;
}
p{
  width: 20rem;
  background-color: #EBE8D7;
  color: #485162;
  font-family: "Carter One";
  font-style: normal;
  font-weight: bold;
  border-style: none;
  padding: 0.6rem;

}
