<div class="map-container" #map>
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
<div class="form-container">
  <div class="innerClass">
    <h2>About ride</h2>
    <form *ngIf="ride" [formGroup]="form" class="parent">
      <div class="row">
        <div class="col">
          <label>ID: </label>
          <input type="text" [formControl]="form.controls.id" class="form-control" readonly >
        </div>
        <div class="col">
          <label>Estimated Time in Minutes: </label>
          <input type="text" [formControl]="form.controls.estimatedTimeInMinutes" class="form-control"readonly>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Start time:  </label>
          <input type="text" [formControl]="form.controls.startTime" class="form-control"readonly>
        </div>
        <div class="col">
          <label>End time:  </label>
          <input type="text" [formControl]="form.controls.endTime" class="form-control"readonly>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Total cost:  </label>
          <input type="text" [formControl]="form.controls.totalCost" class="form-control"readonly>
        </div>
        <div class="col">
          <label>Baby transport:  </label>
          <input type="text" [formControl]="form.controls.babyTransport" class="form-control"readonly>
        </div>
      </div>
      <div class="row">

        <div class="col">
          <label>Pet transport: </label>
          <input type="text" [formControl]="form.controls.petTransport" class="form-control"readonly>
        </div>
        <div class="col">
          <label>Split fare: </label>
          <input type="text" [formControl]="form.controls.splitFare" class="form-control"readonly>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Status: </label>
          <input type="text" [formControl]="form.controls.status" class="form-control"readonly>
        </div>
        <div class="col">
          <label>Name: </label>
          <p *ngFor="let pass of ride.passengers; let i = index">{{pass.email}}</p>
        </div>
      </div>
      <div class="buttondiv">
        <button type="" class="btn panic" (click)="openDialogPanic()" *ngIf="!isPassenger">PANIC!</button>
        <button type="" class="btn panic" (click)="openDialogPanic()" [disabled]="rideFinished" *ngIf="isPassenger && !rideFinished">PANIC!</button>
        <button type="" class="btn rejcet" (click)="openDialogRejection()" *ngIf="!isPassenger">REJECT</button>
        <button type="" class="btn pay" (click)="pay()" *ngIf="isPassenger && rideFinished">PAY</button>
        <button type="" class="btn rateDriver" (click)="rateDriver()" *ngIf="isPassenger && rideFinished">RATE DRIVER</button>
        <button type="" class="btn rateVehicle" (click)="rateVehicle()" *ngIf="isPassenger && rideFinished">RATE VEHICLE</button>
      </div>
    </form>
  </div>
</div>
