<div class="form-container">
  <h2 class="mb-4">Pending rides</h2>
  <div class="card" *ngFor="let ride of pendingRides; let i = index">
    <div class="card-up">
      <h3>Ride {{i+1}}</h3>
    </div>
    <div class="card-body">
      <div class="row">
      <div class="col">
        <label>ID: </label>
        <p>{{ride.id}}</p>
      </div>
      <div class="col">
        <label>Departure: </label>
        <p *ngFor="let location of ride.locations;" > {{location.departure.address}}</p>
      </div>
      <div class="col">
        <label>Destination: </label>
        <p *ngFor="let location of ride.locations;" > {{location.destination.address}}</p>
      </div>
      <div class="col">
        <label>Status: </label>
        <p>{{ride.status}}</p>
      </div>
    </div>
    </div>
    <div class="accrej">
      <button type="" class="btn accept">Accept</button>
      <button type="" class="btn rejcet">Reject</button>
    </div>
  </div>
</div>
