<div class="form-container">
  <h2 class="mb-4">Panic notifications</h2>
  <div class="search">
    <input type="text" class="input1" placeholder="Search">
    <button type="submit" class="btn transparentBtn text-uppercase wide-btn">Sort</button>
    <button type="submit" class="btn transparentBtn text-uppercase wide-btn">Filter</button>
  </div>
  <div class="row text-center">
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="card">
        <div class="card-up">
          <h3>RideId</h3>
        </div>
        <div class="card-body">
          <h4>Passenger: passId</h4>
          <h4>Driver:    driverId</h4>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn redBtn text-uppercase wide-btn">Reason</button>
        </div>

      </div>
    </div>
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="card">
        <div class="card-up">
          <h3>RideId</h3>
        </div>
        <div class="card-body">
          <h4>Passenger: passId</h4>
          <h4>Driver:    driverId</h4>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn redBtn text-uppercase wide-btn">Reason</button>
        </div>

      </div>
    </div>
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="card">
        <div class="card-up">
          <h3>RideId</h3>
        </div>
        <div class="card-body">
          <h4>Passenger: passId</h4>
          <h4>Driver:    driverId</h4>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn redBtn text-uppercase wide-btn">Reason</button>
        </div>

      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="card">
        <div class="card-up">
          <h3>RideId</h3>
        </div>
        <div class="card-body">
          <h4>Passenger: passId</h4>
          <h4>Driver:    driverId</h4>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn redBtn text-uppercase wide-btn">Reason</button>
        </div>

      </div>
    </div>
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="card">
        <div class="card-up">
          <h3>RideId</h3>
        </div>
        <div class="card-body">
          <h4>Passenger: passId</h4>
          <h4>Driver:    driverId</h4>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn redBtn text-uppercase wide-btn">Reason</button>
        </div>

      </div>
    </div>
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="card">
        <div class="card-up">
          <h3>RideId</h3>
        </div>
        <div class="card-body">
          <h4>Passenger: passId</h4>
          <h4>Driver:    driverId</h4>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn redBtn text-uppercase wide-btn">Reason</button>
        </div>

      </div>
    </div>
  </div>
</div>
