.form-container {
  background: #DC7C36;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #485162;
  padding: 1rem;
}

.panicClose {
  background: #485162;
  backdrop-filter: blur(2px);
  border-style: none;
  color: #EBE8D7;
  position: center;
  border-radius: 5px;
  width: 50%;
  margin: 0.1rem;
}

.img1{
  display: grid;
  place-items: center;
}
