.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
th:first-child{
  border-top-left-radius: 0.7rem;}
th:last-child{border-top-right-radius: 0.7rem;}

table{
  background-color:#EBE8D7;
}


tr:last-child td:first-child {
  border-bottom-left-radius: 0.7rem;}
tr:last-child td:last-child {
  border-bottom-right-radius: 0.7rem;}



tr,th,td{
  border: 1px  #485162;
  background-color: #485162;
  color: #EBE8D7;
  font-family: "Bodoni Moda";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
mat-paginator{
  background-color: #EBE8D7;
  font-family: "Bodoni Moda";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
button {
  margin-left: 20px;
}
.sort{
  box-sizing: border-box;
  width: 10%;
  height: 3rem;
  font-family: "Bodoni Moda";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  align-items: center;
  text-align: center;
  margin: 0.9rem;
  background: #BFDC36;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.form-container {
  background: #EBE8D7;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.7rem;
  color: #485162;
  margin: 3rem;
  padding: 1rem;
}

h2{
  text-align: left;
}


.search{
  display: inline-flex;
  width: 100%;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

.input1{
  width: 20%;
  height: 3rem;
  font-size: 18px;
  font-style: normal;
  font-family: "Bodoni Moda";
  font-weight: revert;
  text-align: center;
  border-color: black;
  border-radius: 15px;
  position: center;
  margin: 1rem;
}


html{
  background-color: #485162;
}
h3{
  font-family: "Bodoni Moda";
  font-style: normal;
}
h2{
  font-family: "Carter One";
  font-style: normal;
}
h4{
  font-family: Crete-round;
  font-style: normal;
}

.greenBtn{
  width: 7rem;
  height: 2rem;
  background-color: #BFDC36;
  border-radius: 10%;
  border-style: none;
}
.redBtn{
  width: 7rem;
  height: 2rem;
  background-color: #DC7C36;
  border-radius: 10%;
  border-style: none;
}
