<div class="form-container">
  <h2>Register driver</h2>
  <form class="parent">
    <img src="assets/profilna.png" class="rounded-circle" style="width: 150px;"
         alt="Avatar" />
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Drivers licence">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Vehicle registration">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Telephone number">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Address">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Email address">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Password">
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn greenBtn text-uppercase wide-btn">Check price</button>
    </div>
  </form>
</div>
