<!--Modal-->
  <div class="bg-modal">

    <div class="modal-content">
      <div class="close">+</div>  
      <img src="assets/img/UberLogo.png" class="img_logo_login">
      <form action="">
        <input type="text" placeholder="Username">
        <input type="text" placeholder="Password">
        <button [routerLink]="['change_password']" type="button" class="forget_password">Forgot password?</button>
        <button type="submit" class="btn greenBtn text-uppercase wide-btn">Log in</button>
      </form>
    </div>
  </div>




