@import url('leaflet/dist/leaflet.css');

.map-container {
  background-color: #485162;
  position: absolute;
  top: 3rem;
  width: 100%;
  height: 93.5%;
}

.map-frame {
  border: 2px solid #485162;
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
}

.leaflet-routing-container{
  background-color: #EBE8D7;
}


.form-container {
  z-index: 1000;
  top: 50%;
  background: #485162;
  box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  color: #485162;
  margin-left: 3rem;
  padding: 1rem;
  position: relative;
  width: 25%;
  font-family: Cambria, serif;
}

input{
  border-radius: 3rem;
  width: 90%;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  padding: 0.5rem;
  text-align: center;
}
.cent{
  display: grid;
  align-items: center;
}

h2{
  text-align: center;
  color: #BFDC36;

}
img{
  width: 20%;
  height: 20%;
}

.greenBtn {
  background: #BFDC36;
  backdrop-filter: blur(2px);
  color: #485162;
  border-radius: 3rem;
  width: 20%;
  margin: 1rem;
}
