<!--Map-->
<div class="map-container" #map>
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
<!--Input form-->
<div class="form-container" #form *ngIf="showForm">
  <h2>Search:</h2>
  <form [formGroup]="priceForm" (ngSubmit)="check()">
    <div class="col">
      <div class="row">
        <input type="text" name="departure" formControlName="departure" placeholder="Departure"/>
      </div>
      <div class="row">
        <input type="text" name="destination" formControlName="destination" placeholder="Destination"/>
      </div>
      <div class="row">
        <div style="width: 5rem">
          <img src="assets/time.png" alt="time">
        </div>
        <div class="col" *ngIf="time">
          <p id="time">{{time}} minutes, {{km}} kilometers</p>
        </div>
      </div>
      <div class="row cent">
        <button type="submit" class="btn greenBtn text-uppercase">Go</button>
      </div>
    </div>

  </form>
</div>
