<div class="form-container">
  <h2 class="mb-4">Block users</h2>
  <div class="search">
    <input type="text" class="input1" placeholder="Search">
    <button type="submit" class="btn transparentBtn text-uppercase wide-btn">Sort</button>
    <button type="submit" class="btn transparentBtn text-uppercase wide-btn">Filter</button>
  </div>
  <div class="card testimonial-card text-center" *ngFor="let user of users; let i = index">
    <div class="card-up"></div>
    <div class="avatar mx-auto bg-white">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
           class="rounded-circle img-fluid" />
    </div>
    <div class="card-body">
      <hr />
      <input type="text" class="form-control" placeholder="{{user.name + ' ' + user.surname}}">
    </div>
    <div class="card-footer bg-transparent">
      <button type="submit" class="btn greenBtn text-uppercase wide-btn" *ngIf="user.blocked===true; else blocked" [ngClass]="{redBtn: true}" (click)="block(user.id)">Block</button>
    </div>

    <ng-template #blocked>
      <button type="submit" class="btn greenBtn text-uppercase wide-btn" [ngClass]="{greenBtn: true}" (click)="unblock(user.id)">Unblock</button>
    </ng-template>
  </div>
</div>
