<!--Modal-->
<div class="bg-modal">
  <div class="modal-content">
    <button type="button" [routerLink]="['..']" class="close">+</button>
    <img src="assets/img/UberLogo.png" class="img_logo_login">
    <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <input id="email" type="email" placeholder="Email" class="form-control" formControlName="email"/>
      <input id="newPassword" type="password" placeholder="New password" class="form-control" formControlName="newPassword" #pw required/>
      <div
        *ngIf="newPassword.invalid &&(newPassword.dirty || newPassword.touched)" class="form-text text-danger">
        <div *ngIf="newPassword.errors?.['required']">Field is required</div>
      </div>
      <input id="confirmPassword" type="password" placeholder="Confirm password" class="form-control" required
             [ngClass]="confirmPasswordClass" formControlName="confirmPassword" #cpw/>
      <div
        *ngIf="confirmPassword.invalid &&(confirmPassword.dirty || confirmPassword.touched)" class="form-text text-danger">
        <div *ngIf="confirmPassword.errors?.['required']">
          Field is required
        </div>
        <div *ngIf="confirmPassword.errors?.['confirmedValidator']">
          Passwords did not match
        </div>
      </div>
      <button id="submit" type="submit" class="btn greenBtn text-uppercase wide-btn" [disabled]="resetPasswordForm.invalid">Change password
      </button>
    </form>
  </div>
</div>
