<div class="form-container">
  <h2>My profile</h2>
  <form *ngIf="user" [formGroup]="form" (ngSubmit)="update()">
    <div class="row">
      <div class="col img1">
        <img src="assets/profilna.png" class="rounded-circle" style="width: 150px;"
             alt="Avatar"/>
        <input type="file" [formControl]="form.controls.profilePicture" class="form-control"
               accept="image/png, image/jpeg">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" [formControl]="form.controls.name" class="form-control">
      </div>
      <div class="col">
        <input type="text" [formControl]="form.controls.surname" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" [formControl]="form.controls.telephoneNumber" class="form-control">
      </div>
      <div class="col">
        <input type="text" [formControl]="form.controls.address" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" [formControl]="form.controls.email" class="form-control">
      </div>
      <div class="col">
        <input type="password" [formControl]="form.controls.password" class="form-control">
      </div>
    </div>
    <div class="row img1">
        <button type="submit" class="btn greenBtn text-uppercase wide-btn">Submit changes</button>
    </div>
  </form>
</div>

