html{
  background-color: #485162;
}


.form-container {
  background: #EBE8D7;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.7rem;
  color: #485162;
  margin: 3rem;
  padding: 1rem;

}
form{
  background: #485162;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.7rem;
  padding: 1rem;
  margin: 1rem;
}
.parent{
  display: grid;
  place-items: center;
}

input{
  display: block;
  border-radius: 10px;
  border-color: #485162;
  position: center;
  width: 35rem;
  margin: 1rem;
  text-align: center;
}
h2{
  text-align: left;
}

.greenBtn {
  background: #BFDC36;
  backdrop-filter: blur(2px);
  color: #485162;
  position: center;
  border-radius: 5px;
  border-style: none;
  width: 35rem;
  margin: 1rem;
}

.newGreen{
  background: #BFDC36;
  backdrop-filter: blur(2px);
  color: #485162;
  position: center;
  border-radius: 2rem;
  border-style: none;
  width: fit-content;
  padding: 1rem;
  margin-right: 1rem;
}

.passwordChangeBtn {
  background: #BFDC36;
  backdrop-filter: blur(2px);
  color: #485162;
  position: center;
  border-radius: 5px;
  border-style: none;
  width: 20rem;
  margin: 1rem;
}
img{
  margin: 1rem;
}

.img1{
  display: grid;
  place-items: center;
}

.position1{
  display: grid;
  place-items: end;
}

.myInput{
  border-style: none;
  width: 20rem;
}

.myDiv{
  display: flex;
  alignment: left;
  justify-content: center;
}

label{
  text-align: right;
  font-size: larger;
  color: #EBE8D7;
  padding-top: 1.1rem;
  width: 20rem;
}
col{
  width: 10rem;
}


