<div>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <img class="header-img logo" src="assets/img/UberLogo.png"  alt="Logo" (click)="homePage()" />
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#footer">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About us</a>
                </li>
            </ul>
            <div>
                <button [routerLink]="['login']" id="button-login" class="btn btn-outline-light" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="isNotLoggedIn">
                    <span>Log in</span>
                </button>
                <button [routerLink]="['registration']" id="button-registration" class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="isNotLoggedIn">Sign up</button>

                <button id="button-activity" class="btn {{btnCall}}"  type="button" [ngSwitch]="" (click)="changeActivity()" *ngIf="isDriver">{{btnVal}}</button>
                <button id="button-logout" class="btn logoutButton" (click)="logout()" type="button" [routerLink]="['..']" *ngIf="isLoggedIn">Log out</button>
              </div>
        </div>
    </nav>
</div>
