<div class="cards card-group">
  <section class=" card page-section" id="choose">
    <div class="card-body">
      <h3 class="card-title">Choose form</h3>
      <p class="card-text">Some text.</p>
      <a class="btn greenBtn text-uppercase" href="#">More...</a>
    </div>
  </section>
  <section class="card page-section" id="about">
    <div class="card-body">
      <h3 class="card-title">About</h3>
      <p class="card-text">Some text.</p>
      <a class="btn greenBtn text-uppercase" href="#">More...</a>
    </div>
  </section>
</div>

