<div class="cards card-group">
  <section class=" card page-section" id="choose">
    <div class="card-body align-content-center">
      <h3 class="card-title">Choose form</h3>
      <form>
        <div class="mb-3">
          <label for="start" class="form-label">Start</label>
          <input type="text" class="form-control" id="start" aria-describedby="destinations">
        </div>
        <div class="mb-3">
          <label for="stop" class="form-label">Stop</label>
          <input type="text" class="form-control" id="stop" aria-describedby="destinations">
        </div>
        <button type="submit" class="btn greenBtn text-uppercase wide-btn">Check price</button>
      </form>
    </div>
  </section>
  <section class="card page-section" id="about">
    <div class="card-body">
      <h3 class="card-title">About</h3>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam voluptatem veniam, est atque cumque eum delectus sint! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam voluptatem veniam, est atque cumque eum delectus sint! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis molestias.</p>
      <button type="btn" class="btn greenBtn text-uppercase wide-btn">More...</button>
    </div>
  </section>
</div>

