.fc {
  background: #EBE8D7;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #485162;
  padding: 5rem;
  height: 100%;
}

label {
  color: #485162;
  font-weight: bolder;
}

textarea {
  border-style: none;
  border-color: #EBE8D7;
  border-radius: 0.3rem;
  width: 95%;
  height: 100%;
}

.panicClose {
  background: #BFDC36;
  backdrop-filter: blur(2px);
  border-style: none;
  color: #485162;
  position: center;
  border-radius: 5px;
  margin: 0.3rem;
  width: inherit;
}

.img1{
  display: grid;
  place-items: center;
}
