<div class="admin-nav-container" style="width: 100%; height: 100vh">
  <div class="navigation container-fluid">
    <div class="row">
      <div class="col-sm my-col" (click)="addDriver()">
        <a>
          <img src="../../assets/driver.png">
          <p>New driver</p>
        </a>
      </div>
      <div class="col-sm my-col" (click)="allDrivers()">
        <a>
          <img src="../../assets/all_drivers.png">
          <p>All drivers</p>
        </a>
      </div>
      <div class="col-sm my-col" (click)="stats()">
        <a>
          <img src="../../assets/chart.png">
          <p>Stats</p>
        </a>
      </div>
      <div class="col-sm my-col" (click)="requests()">
      <a>
        <img src="../../assets/request.png">
        <p>Requests</p>
      </a>
    </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-sm my-col" (click)="myAccount()">
        <a>
          <img src="../../assets/acc.png">
          <p>My account</p>
        </a>
      </div>
      <div class="col-sm my-col" (click)="blockUsers()">
        <a>
          <img src="../../assets/block2.png">
          <p>Block users</p>
        </a>
      </div>
      <div class="col-sm my-col" (click)="panics()">
        <a>
          <img src="../../assets/panic2.png">
          <p>Panic notifications</p>
        </a>
      </div>
      <div class="col-sm my-col" (click)="history()">
        <a>
          <img src="../../assets/history.png" class="img">
          <p>Ride history</p>
        </a>
      </div>
    </div>
  </div>
</div>
