<div class="admin-nav-container" style="width: 100%; height: 100vh">
  <div class="navigation container-fluid">
    <div class="row">
      <div class="col-sm my-col">
        <a routerLink="register-driver">
          <img src="assets/driver.png">
          <p>New driver</p>
        </a>
      </div>
      <div class="col-sm my-col">
        <a routerLink="all-drivers">
          <img src="assets/all_drivers.png">
          <p>All drivers</p>
        </a>
      </div>
      <div class="col-sm my-col">
        <a routerLink="stats">
          <img src="assets/chart.png">
          <p>Stats</p>
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm my-col">
        <a routerLink="my-account">
          <img src="assets/acc.png">
          <p>My account</p>
        </a>
      </div>
      <div class="col-sm my-col">
        <a routerLink="block-users">
          <img src="assets/block2.png">
          <p>Block users</p>
        </a>
      </div>
      <div class="col-sm my-col">
        <a routerLink="panic-notifications">
          <img src="assets/panic2.png">
          <p>Panic notifications</p>
        </a>
      </div>
    </div>
  </div>
  <div>
    <h1>Thank you for being part of our team!</h1>
  </div>
</div>
