<div class="form-container">
    <h2 class="mb-4">Reviews for ride: {{ride_id}}</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
  
      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef>Rating</th>
        <td mat-cell *matCellDef="let element">
          {{ element.rating }}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">{{ element.type }}</td>
      </ng-container>
  
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef>Comment</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.id!=-1">
            <button class="redBtn" (click)="viewComment(element)">View comment</button>
          </div>
          <div *ngIf="element.id==-1">
            <p>No comment</p>
          </div>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="add-review">
        <th mat-header-cell *matHeaderCellDef>Add review</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.id==-1">
            <button class="greenBtn" (click)="addReviews(element)">+</button>
          </div>
          <div *ngIf="element.id!=-1">
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="passenger_id">
        <th mat-header-cell *matHeaderCellDef>Passenger Id</th>
        <td mat-cell *matCellDef="let element">{{ element.passenger_id }}</td>
      </ng-container>
  
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
      ></tr>
    </table>
  
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  
  
  
  
  <!--<div class="form-container">-->
  <!--  <h2 class="mb-4">Ride History</h2>-->
  <!--  <div class="search">-->
  <!--    <input type="text" class="input1" placeholder="From">-->
  <!--    <input type="text" class="input1" placeholder="To">-->
  <!--    <button type="submit" class="btn sort">Sort</button>-->
  <!--  </div>-->
  <!--  <div class="card" *ngFor="let ride of rides; let i = index">-->
  <!--    <div class="card-body">-->
  <!--      <h3>Ride {{i+1}}</h3>-->
  <!--      <label>ID: </label>-->
  <!--      <p>{{ride.id}}</p>-->
  
  <!--      <div class="col">-->
  <!--        <label>Departure: </label>-->
  <!--        <p *ngFor="let location of ride.locations;" > {{location.departure.address}}</p>-->
  <!--      </div>-->
  <!--      <div class="col">-->
  <!--        <label>Destination: </label>-->
  <!--        <p *ngFor="let location of ride.locations;" > {{location.destination.address}}</p>-->
  <!--      </div>-->
  <!--      <div class="col">-->
  <!--        <label>Status: </label>-->
  <!--        <p>{{ride.status}}</p>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  
  