<div class="map-container" #map>
    <div class="map-frame">
      <div id="map"></div>
    </div>
</div>

<div class="form-container">
  <h2>Add favorite route</h2>
  <form [formGroup]="firstFormGroup">
    <ng-template matStepLabel>Specify ride</ng-template>
    <h2>Vehicle type</h2>
    <div class="row">
      <div class="col">
        <div class="row">
            <input type="text" name="favoriteName" formControlName="favoriteName" placeholder="Name"/>
          </div>
        <div class="row">
          <input type="text" name="departure" formControlName="departure" placeholder="Departure"/>
        </div>
        <div class="row">
          <input type="text" name="destination" formControlName="destination" placeholder="Destination"/>
        </div>
        
        <div class="row">
          <button mat-button type="button" class="btn redBtn2 text-uppercase wide-btn" (click)="locations()">Show on map</button>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <mat-radio-group formControlName="vehicleType">
            <mat-radio-button [value]="0">
              <img src="assets/car.png" class="imgRadio" alt="Option 1">
            </mat-radio-button>
            <mat-radio-button [value]="1">
              <img src="assets/limousine.png" class="imgRadio" alt="Option 2">
            </mat-radio-button>
            <mat-radio-button [value]="2">
              <img src="assets/van.png" class="imgRadio" alt="Option 3">
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="row">
          <mat-slide-toggle class="mySlide" formControlName="petTransport">
            <span>
              Pet transport
            </span>
          </mat-slide-toggle>
          <mat-slide-toggle class="mySlide" formControlName="babyTransport">
            <span>
              Baby transport
            </span>
          </mat-slide-toggle>  
        </div>
      </div>
    </div>
    <div class="parent">
      <button mat-button type="submit" class="btn greenBtn text-uppercase wide-btn" (click)="firstClick()"
      >Next</button>
    </div>
  </form>
</div>